/*SELECTOR UNIVERSAL

*{
  color: red;
}

/*

/* SELECTORES DE TIPO O ETIQUETA
Por lo que cambia el estilo a todas los elementos con la misma etiqueta
*/

/*nav{
  background: steelblue;
}*/

h2 {
  color: steelblue;
}

/* SELECTORES DE CLASES*/
.alex {
  border: 1px solid black;
}

.titulo {
  text-align: center;
}

.😁{
  color: darkblue;
}

.😂{
  border: 1px solid black;
  font-size: 20px;
}

/*
SELECTORES DE ID

No es buena practica utilizar selectores de id, ya que con este selector cada propiedad cada elemento tendria
un estilo diferente y se volverìa muy tedioso a la hora de manejar, por eso es màs recomendable usar selectores de clases 
*/
#section {
  border: 1px solid black;
}

/* SELECTORES DE ATRIBUTO 
Este atributo debe ir encerrado en corchetes [], ese atributo puede ser href, src, class*/
 /* Con este ejemplo estamos diciendo que todos los elementos que tengan un href se les aplique esa proiedad*/
[href]{
  text-decoration: none;
}

/*Pero se puede ser más espeficico agregando el elemento antes del atributo con los corchetes
o una clase, veamos el ejemplo*/
h2[class]{
  color: brown;
}

/* Cambia de color a todos los href con esa url */
[href="https://alexcgdesign.com/inicio"]{
  color: darkred;
}

/* Este selector selecciona los elementos que tenga al principio del href el texto indicado 'hsttps' */
[href^="hsttps"] {
  color: darkolivegreen;
}

/* Ahora con este selector va a seleccionar los elementos que contengan el dominio org. Lleva el simbolo de dolar para indicar que esa busqueda debe estar al final de la url */
[href$="org"]{
  background: steelblue;
  color: white;
}
/* Con este selector decimos que selecciones todos los href que contengan la palabra alexcgdesign */
[href*="alexcgdesign"]{
  background: darksalmon;
}