/*Elimina el margen de toda la pagina*/
body {
  margin: 0;
}

.box {
  width: 200px;
  height: 100px;
}

.box1 {
  background: steelblue;
 /*  margin: top right bottom left; El orden va de acuerdo a las manecillas del reloj*/ 
}

.box2 {
  padding: 20px;
  background: tomato;
  margin-top: 30px;
  margin-left: 20px;
  overflow: hidden;
  border: 2px solid steelblue;
}
